/*CSS Boostrap*/
* {
    box-sizing: border-box;
}
.footer1 {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    margin-top: 10px;
    background-color: #eff0f5;
}
input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
}
.portfolio-container {
    padding: 20px;
}
.contact-container {
    padding: 20px;
}
.card-body2 {
    padding: 20px;
}
p {
    font-size: 16pt;
}
.card-body1 {
    padding: 16.5px;
}
.blockquotemb-0 {
   padding: 4px;
}
#footer {
    #f5f5f5;
}
@media only screen and (max-width: 640px) {
    body {

    }
}
@media only screen and (max-width: 768px) {
    body {

    }
}
@media only screen and (max-width: 980px) {
    body {
      
    }
}